@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url('https://images.pexels.com/photos/33545/sunrise-phu-quoc-island-ocean.jpg');
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.datetime {
  text-align: center;
}

.text{
  color: hsl(286, 80%, 15%);
  font-weight: bold;
  font-family: "Anonymous Pro", monospace;
  letter-spacing: 4px;
}

.h1 {
  position: relative;
  color: hsl(286, 80%, 15%);
  font-weight: bold;
  font-family: "Anonymous Pro", monospace;
  letter-spacing: 7px;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 410px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(286, 24%, 47%);
  }
  to {
    border-right-color: transparent;
  }
}

.celFer {
  padding-bottom: 20px;
  padding-right: 150px;
  padding-top: 15px;
}
.forcast {
  padding-bottom: 2%;
  padding-top: 15px;
}

.round1 {
  padding: 10px;
  text-align: center;
  background: #7a7a7d;
  border-radius: 100%;
}

.round2 {
  padding: 10px;
  text-align: center;
  background: #585676;
  border-radius: 100%;
}
img {
  width: 50px;
}


.animation {
  font-family: Oswald;
  animation: Color 4s linear infinite;
  -webkit-animation: Color 3s ease-in-out infinite;
}

@keyframes Color {
  0% {
    color: #a0d468;
  }

  20% {
    color: #4fc1e9;
  }

  40% {
    color: #ffce54;
  }

  60% {
    color: #fc6e51;
  }

  80% {
    color: #ed5565;
  }

  100% {
    color: #ac92ec;
  }
}

@-moz-keyframes Color {
  0% {
    color: #a0d468;
  }

  20% {
    color: #4fc1e9;
  }

  40% {
    color: #ffce54;
  }

  60% {
    color: #fc6e51;
  }

  80% {
    color: #ed5565;
  }

  100% {
    color: #ac92ec;
  }
}

@-webkit-keyframes Color {
  0% {
    color: #a0d468;
  }

  20% {
    color: #4fc1e9;
  }

  40% {
    color: #ffce54;
  }

  60% {
    color: #fc6e51;
  }

  80% {
    color: #ed5565;
  }

  100% {
    color: #ac92ec;
  }
}

/* responsive */


@media (max-width:768px) {
  body{
    height: 100%; 
    width: 100%;
  }
  .container {
    font-family: "Raleway", sans-serif;
    width: 150px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
  }
  .box {
    font-family: "Raleway", sans-serif;
    background-color: #0f0f28e0;
    padding: 10px;
    border-radius: 30px;
    color: #400b7c;
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
  
  
  
}


@media (min-width:1024px) {
  body{
    /* background-color: #100E1D; */
  }
  .container {
    font-family: "Raleway", sans-serif;
    width: 250px;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  
  .box {
    font-family: "Raleway", sans-serif;
    background-color: #0f0f28e0;
    padding: 10px;
    border-radius: 30px;
    color: #400b7c;
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
  
  
}

@media (max-width:1440px) {

  
.container {
  /* font-family: "Raleway", sans-serif; */
  font-family: "Raleway", sans-serif;
  width: 250px;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.box {
  font-family: "Raleway", sans-serif;
  background-color: #0f0f28e0;
  padding: 10px;
  border-radius: 30px;
  color: #400b7c;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

}



@media (min-width:768px) {
  
  .first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(138, 135, 135);
    padding: 20px;
    border-radius: 10px;
  }
  
  
}


@media (min-width:1024px) {
  .first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(138, 135, 135);
    padding: 20px;
    border-radius: 10px;
  }
  
}

@media (max-width:1440px) {
  .first {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(138, 135, 135);
    padding: 20px;
    border-radius: 10px;
  }

}